<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controller Web App</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/icon-192x192.png') }}" alt="Teste de Ícone PWA" style="width: 100px; height: 100px;">
        <img src="{{ url_for('static', filename='images/logo_principal.png') }}" alt="Logo do Escritório" class="logo">
        <h1>Servidor Flask funcionando!</h1>
        <p>Seu aplicativo Controller Web está online e pronto para uso.</p>
        <p>Esta é a sua página principal. Em breve, mais funcionalidades estarão disponíveis aqui.</p>
    </div>

    <script>
        // Registrar o Service Worker
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/static/service-worker.js').then(function(registration) {
                    // Registro bem-sucedido
                    console.log('Service Worker registrado com sucesso com escopo: ', registration.scope);
                }, function(err) {
                    // Falha no registro
                    console.log('Falha no registro do Service Worker: ', err);
                });
            });
        }
    </script>
</body>
</html>